.section__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .form__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .options-wrapper {
    padding: var(--general-padding);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    text-align: start;

    .options-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}
