.header__container {
  max-width: 2560px;
  margin: 0 auto;
  background: var(--clr-primary);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: relative;

  background-image: url("/public/assets/question-images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 66, 66, 0.53);
    z-index: 20;
  }

  .header__wrapper,
  button {
    position: relative;
    z-index: 30;
  }

  .header__wrapper {
    margin: 50px auto;

    h1 {
      @media (max-width: 767px) {
        font-size: clamp(1.2rem, 6vw, 3rem);
      }
    }
  }
}
