.dropdownWrapper {
  margin-bottom: 0.6em;

  .selectWrapper {
    cursor: pointer;
    position: relative;
  }

  .inputWrapper {
    position: relative;
    .f-select {
      border-bottom: 1px solid $violet;
      border-top: 1px solid #ececec;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-color: $violet;
      box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.04);
      cursor: inherit;
      color: #131212;
      line-height: 1;
      width: 100%;
      padding: 0.5em 3em 0.5em 1.4em;
      color: #2d2d2d;
      border: 1px solid #dedede;
      min-height: 47px;
      border-radius: 999px;
    }

    .i-icon {
      color: #131212;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .clickLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .optionWrapper {
    // border-top-right-radius: 0;
    // border-top-left-radius: 0;
    border: 1.5px solid $violet;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.68);
    position: absolute;
    top: 3.6em;
    left: 0;
    width: 100%;
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
    font-size: 0.9rem;
    .optionWrapperLayout {
      overflow-y: auto;
      max-height: 17em;
      .option {
        padding: 1.4em 1em;
        position: relative;
        text-transform: capitalize;
      }
      .option:not(:last-child) {
        border-bottom: 1px solid hsla(0, 0%, 87.1%, 0.4);
      }
    }
  }
}
