@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Roboto:wght@400;500;700&display=swap");

@import "variables";
@import "dropdown";
@import "form";
@import "radio";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

* :not(body) {
  scrollbar-color: #979797 transparent;
}
:root {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 0;
  transition: 0.3s;
  // transition-property: all;
  // transition-duration: 0.3s;
  // transition-timing-function: ease;
  // transition-delay: 0s;

  &::before {
    background-image: url("../../../src/assets/background-img.png");
    background-size: cover;
    position: fixed;
    filter: brightness(100%);
    background-position: center;
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
button,
input {
  overflow: visible;
  text-transform: capitalize;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
